//
// Dropdown menus
// --------------------------------------------------


// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  vertical-align: middle;
  border-top:   6px dashed;
  border-top:   6px solid \9; // IE8
  border-right: 6px solid transparent;
  border-left:  6px solid transparent;
}

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {
	
	position: absolute;
	top: 100%;
	left: 0;
	display:none;
	z-index: $zindex-dropdown;
	//display: none; // none by default, but block on "open" of the menu
	float: left;
	
	padding: 1em;
	margin: 2px 0 0; // override default ul
	list-style: none;
	text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
	background-color: #f3f4f5; //$dropdown-bg;
	//border: 1px solid $dropdown-fallback-border; // IE8 fallback
	border: 1px solid #e8e8e8;
	//border-width: 1px 1px 1px 3px;
	//border-color: rgba(0, 0, 0, 0.15)  rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) #337ab7;
	//border-radius: $border-radius-base;
	//@include box-shadow(1px 1px 1px rgba(0,0,0,.1));
	//font-size: $fs2;
	background-clip: padding-box;
  
	@media (min-width: $grid-float-breakpoint) {
	
	
		min-width:300px;
		max-width: 400px;
		border-radius: 6px;
		display:block;
		top:30px;
		opacity: 0;
		visibility: hidden;
  
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
  
	}
  
  // Aligns the dropdown menu to right
  //
  // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
  &.pull-right {
    right: 0;
    left: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    @include nav-divider($dropdown-divider-bg);
  }

  // Links within the dropdown menu
	> li > a {
	
		display: block;
		clear: both;
		font-weight: normal;
		line-height: $line-height-base;
		font-size: 0.889em;
		
		 margin: 1em 0;
		padding: 1em;
		
		//margin:1em;
		//padding:0;
		border-raduis:0;
		//color: $dropdown-link-color;
		
	@media (min-width: $grid-float-breakpoint) {
		
		padding: 10px 20px;
		//margin: 5px 0;
		//border-radius:0;
		
		//white-space: nowrap; // prevent links from randomly breaking onto new lines
	
	}

	}
}

 @media (min-width: $grid-float-breakpoint) {
//add arrow to menu
.dropdown-menu:before {
  position: absolute;
  top: -13px;
  left: 5%;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #e8e8e8;
  border-left: 12px solid transparent;
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -12px;
  left: 5%;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid 	#f3f4f5;
  border-left: 12px solid transparent;
  content: '';
}

}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: #55606c; //$dropdown-link-hover-color;
    background-color: rgba(202, 206, 209, 0.5);
	background-image: none;
	border-radius:4px;
	
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #95a5a6;
	border-radius:4px;
	//padding:1em;
  }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    color: #c8c8c8; //$dropdown-link-disabled-color;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
	background-color: transparent;
    background-image: none; // Remove CSS gradient
    @include reset-filter;
    cursor: $cursor-disabled;
  }
}

 @media (min-width: $grid-float-breakpoint) {
 
.dropdown:hover .dropdown-menu {
//display: block;

opacity: 1;
top: 50px;
visibility: visible;
}

}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
	opacity: 1;
top: 50px;
visibility: visible;
	

	
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.dropdown-menu-right {
  left: auto; // Reset the default from `.dropdown-menu`
  right: 0;
}
// With v3, we enabled auto-flipping if you have a dropdown within a right
// aligned nav component. To enable the undoing of that, we provide an override
// to restore the default dropdown menu alignment.
//
// This is only for left-aligning a dropdown menu within a `.navbar-right` or
// `.pull-right` nav component.
.dropdown-menu-left {
  left: 0;
  right: auto;
}

// Dropdown section headers
.dropdown-header {
  
	display: block;
	padding: 0;
	
  
	@media (min-width: $grid-float-breakpoint) {
	  
		padding: 5px 0px;	
	  
	}
  
	font-size: 13px;
	line-height: $line-height-base;
	color: #1abc9c;
	font-weight:600;
	text-transform: uppercase;
	white-space: nowrap; // as with > li > a

}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: ($zindex-dropdown - 10);
}

// Right aligned dropdowns
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .dropup after the standard .dropdown class and you're set, bro.
// TODO: abstract this so that the navbar fixed styles are not placed here?

.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    border-top: 0;
    border-bottom: $caret-width-base dashed;
    border-bottom: $caret-width-base solid \9; // IE8
    content: "";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}


// Component alignment
//
// Reiterate per navbar.less and the modified component alignment there.

@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    .dropdown-menu {
      right: 0; left: auto;
    }
    // Necessary for overrides of the default right aligned menu.
    // Will remove come v4 in all likelihood.
    .dropdown-menu-left {
      left: 0; right: auto;
    }
  }
}
