/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 75%;
}

.copyright {

	width:75%;

}

#content {
	
	//margin-top: 5em;
	
}

//timeline

.cbp_tmtimeline {
	//margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 7px;
	bottom: 0;
	width: 10px;
	background: #f1c40f;
	left: 5%;
	margin-left: -10px;
	margin-bottom:10%;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
background: #ecf0f1 none repeat scroll 0 0;
    font-size: 1em;
    left: -110px;
	min-width:150px;
    padding: 4px 12px;
    position: absolute;
    top: 22px;
	border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 1em 0 12% 12%;
	background: #ecf0f1; //#3594cb;
	border:1px solid #bdc3c7;
	//color: #fff;
	padding: 0 1em;
	//font-size: 1.2em;
	//font-weight: 300;
	//line-height: 1.4;
	position: relative;
	border-radius: 3px;
}

//.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
//	background: #6cbfee;
//}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #ecf0f1; //#3594cb;
	border-width: 10px;
	top: 10px;
}

//border

.cbp_tmtimeline > li .cbp_tmlabel:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #bdc3c7; //#3594cb;
	border-width: 11px;
	top: 9px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #fafafa; //#6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 80px;
	height: 80px;
	//font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #f1c40f;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #f39c12;
	text-align: center;
	left: 5%;
	top: 0;
	margin: 0 0 0 -45px;
	
	img {
	
		width:80px;
		height:80px;
		border-radius:100%;
	
	}

}

//footer

/* Right content */
.cbp_tmtimeline > li .cbp_tmfooter {
	margin: 1em 0 15px 10%;
	background: #fafafa; //#3594cb;
	//color: #fff;
	padding: 0 1em;
	//font-size: 1.2em;
	//font-weight: 300;
	//line-height: 1.4;
	position: relative;
	border-radius: 3px;
}

//.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
//	background: #6cbfee;
//}

.cbp_tmtimeline > li .cbp_tmfooter h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmfooter:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #fafafa; //#3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

//end of timeline