/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
}

#breadcrumbs {

	padding:1em 0;
	line-height: 1.602em;

}

.copyright {

	width:75%;

}

/*.social {
	
		width:auto;
	
	}*/

#content {
	
	//margin-top: 5em;
	
}

.t-c {
	
				width:50%;
				border-right: 1px solid #f3f4f5; //#e8e8e8;
	
			}
			
			/*
			//grid system
			
			//content
			.t-2of3 {
			
				width: 75%;
			
			}*/
			
			//sidebar
			//.d-2of7 {
				
				//width: 25%;
			
			//}

//timeline
