
body {

	font-size:83.3333%;

}

.entry-content {

	padding: 0 0.5em;

}

.hentry header {

	padding: 0.5em;

}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
}


/*#content {
	
	margin-top: 5em;
	
}*/

.footer {

	padding:1em;

}

.header-logo {

	float:none;
	text-align:center;
	display:none;

}

.mobile-b-container {

    float: left;
    width: 100%;
	padding:0;

}

.logom {

	display:block;

}

.copyright {

	width:90%;

}

//search

.searchform-top {

	width:90%;

}
