
body {

	font-size:83.3333%;

}


#content {
	
	margin-top: 8em;
	
}

.header-logo {

	float:none;
	text-align:center;
	display:none;

}

.mobile-b-container {

    float: left;
    width: 100%;
	padding:0;

}

.searchb {

	//margin:0;

}

