
body {

	font-size:83.3333%;

}

.entry-content {

	padding: 0 0.5em;

}

.hentry header {

	padding: 1.5em;

}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
}


/*#content {
	
	margin-top: 5em;
	
}*/

.footer {

	padding:1em;

}

.header-logo {

	float:none;
	text-align:center;
	display:none;

}

.mobile-b-container {

    float: left;
    width: 100%;
	padding:0;

}

.logom {

	display:block;

}

.copyright {

	width:90%;

}

.social {
	
		width:100%;
	
	}

//search

.searchform-top {

	width:90%;

}

//gallery

.gallery-size-medium {
			
				dl {
			
					img {
				
						height: 100%;
						margin: 0 auto;
						text-align: center;
						width: 100%;
				
					}
			
				}
			
			}
			
		.gallery-size-thumbnail {
			
				dl {
			
					img {
				
						height: 100%;
						margin: 0 auto;
						text-align: center;
						width: 100%;
				
					}
			
				}
			
			}
			
		.gallery-size-large {
			
				dl {
			
					img {
				
						height: 100%;
						margin: 0 auto;
						text-align: center;
						width: 100%;
				
					}
			
				}
			
			}
			
			.gallery-icon {
			
				//background:#f8f8f8;
				padding:0.5em;
			
			}
			
//author vcard

.post-author-vcard {

	border: none;
    border-radius: 0;
    display: inline-block;
    padding: 0;
	width: 100%;

}


//timeline

.cbp_tmtimeline > li .cbp_tmicon {
			
				left:0;
				margin:0 0 1em 1em;
				position: relative;
				height:40px;
				width:40px;
				box-shadow: 0 0 0 3px #f39c12;
			
			}
			
.cbp_tmtimeline {

background:none;

	&:before {
	
	background:none;
	
	}

}
			
.cbp_tmtimeline > li .cbp_tmlabel {

margin: 1em 0 12% 0;

}


//test

.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }

	
	.t-c {
	
	width:100%;
	border-right: none;
	
	}
	
	
	//widget section
	
	.widget {
	
		padding:2em 1em;
	
	}

