/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

	.wrap {
	
		width: 95%;
	
	}
	
	#breadcrumbs {

	padding:1em 0em;
	line-height: 1.602em;

}

	.t-c {
	
		width:50%;
		border-right: 1px solid #f3f4f5; //#e8e8e8;
	
	}

